/dist
**/dist/
node_modules
.yarn
yarn-debug.log*
yarn-error.log*
**/.serverless
**/.terraform
*.tfstate
*.tfstate.*
.env
.env.*
!.env.example
!.env.test
*.tsbuildinfo
**/*.tsbuildinfo
/.serverless
/serverless/.webpack
**/.serverless
**/coverage